@model DusColl.vmHome

@if (Model.TodoUser.Rows.Count > 0)
{

    int TotalTodo = Convert.ToInt32(Model.TodoUser.Compute("SUM(TotalTodo)", string.Empty));

    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="icon-bell"></i>
            <span class="badge badge-default" id="TotalTodoAll">@TotalTodo.ToString()</span>
        </a>
        <ul class="dropdown-menu">
            <li class="external">
                <h3>
                    <span class="bold" id="TotalTodoAll1">@TotalTodo.ToString()</span> Pengajuan
                </h3>
                @* <a href="javascript:;" onclick="vmHomePages.LoadMenu('Pengajuan Pending','','Home','HomeTodo')" style="cursor:pointer" id="todoall">Tampilkan Semua</a>*@
            </li>
            <li>
                <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">

                    @foreach (System.Data.DataRow row in Model.TodoUser.Rows)
                    {
                        if (row["action"].ToString() != "")
                        {
                            <li>
                                <a href="javascript:;" onclick="@row["action"].ToString()" style="cursor:pointer" id="todoreq">
                                    <span class="time">@row["TotalTodo"]</span>
                                    <span class="details">
                                        <span class="label label-sm label-icon label-warning">
                                            <i class="fa fa-bell-o"></i>
                                        </span> @row["ModuleName"]
                                    </span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>
        </ul>
    </li>
}


