@model HashNetFramework.cFilterContract
<div class="modal fade" id="filterdatadialogpaymentbilluplodINV" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm("clnPaymentRegisINV", new { Controller = "Finance" }, new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "vmFinance.CooBeerBeginInv",
                OnSuccess = "vmFinance.CooBeerSuccessInv"
            }, new
            {
                id = "billpayment_form",
                @class = "form-horizontal",
                enctype = "multipart/form-data"
            }))
            {

                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Rekap Data Tagihan HT </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="note note-searchpanenls font-whitea marginnol paddingbotnol">
                                    <h4 class="font-whitea"><strong>Catatan:</strong></h4>
                                    <ol class="font-whitea">
                                        <li> Untuk  Penagihan Pastikan Dokumen "Sertifikat Pengecekan/CoverNote dan Surat Pengantar Akta" sudah diupload Ke SimasHT.</li>
                                        <li>
                                            Data yang tidak sesuai dengan hasil dokumen yang telah diupload, tagihan invoice akan dipending oleh sistem, pastikan data
                                            yang akan ditagihkan benar adanya.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-left:20px">
                            <div class="col-md-6">
                                <label class="control-label">*Jenis Tagihan</label>
                                @Html.DropDownListFor(m => m.JenisTransaksi, (IEnumerable<SelectListItem>)ViewData["JENINV"], new { @class = "select2 form-control CMB", @title = "Pilih " })
                            </div>

                            <div class="col-md-6">
                                <label class="control-label">No Invoice</label>
                                @Html.TextBoxFor(m => m.NoPengajuanRequest, new { @class = "form-control", @maxlength = "35" })
                                <p class="help-block">Isikan jika ingin menampilkan Data tagihan yang sudah ada </p>
                            </div>

                        </div>
                        <div class="row" style="padding-left:20px;padding-top:20px">
                            <div class="col-md-6">
                                <label class="control-label">Nama PPAT</label>
                                @Html.DropDownListFor(m => m.SelectNotaris, (IEnumerable<SelectListItem>)ViewData["SelectNotaris"], new { @class = "select2 form-control CMB", @title = "Pilih " })
                                <p class="help-block">Isikan jika ingin menampilkan Data tagihan Untuk PPAT Tertentu</p>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label">No Perjanjian</label>
                                @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control", @maxlength = "15" })
                                <p class="help-block">Isikan jika ingin menampilkan Data tagihan Untuk Perjanjian Tertentu</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn green" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                        <span>&nbsp;Tutup</span>
                    </button>
                    <button type="submit" value="" class="btn green">
                        <i class="fa fa-check-square"></i>
                        <span>&nbsp;Proses </span>
                    </button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $('.select2').select2();
    $('.date-picker').datepicker({
        rtl: App.isRTL(),
        orientation: "right bottom",
        autoclose: true
    });
    $.getScript("Scripts/vmFinance.js", function () {
    });
</script>