@model DusColl.vmFinance

<style>
    td:not(:first-child) {
        white-space: nowrap;
    }

    td:first-child {
        width: 2%;
    }

    td:last-child {
        width: 2%;
    }

    .btn {
        padding: 6px 7px;
        margin-bottom: 0;
        /*border-radius: 0;*/
        /*border: 0;*/
    }

    .btngridx {
        padding: 1px 5px;
        margin-bottom: 0;
    }

    .btngrid {
        padding: 6.7px 7px;
        margin-bottom: 0;
        border-radius: 0;
        border: 0;
    }
</style>

@{
    var JenisCek = "";
    ViewBag.JenisTransaksi = (ViewBag.JenisTransaksi ?? "Pengcekan").Replace("createinvoice", "");
}
@if (ViewBag.JenisTransaksi == "Pengcekan")
{
    JenisCek = "PENGECEKAN SERTIPIKAT (No." + ViewBag.NoPengajuanRequest + ")";
    <table class="table table-striped table-hover table-bordered" id="table_List_billing_payment_upload">
        <thead>
            <tr>
                <th>No.</th>
                <th>No<br />Perjanjian</th>
                <th>Tgl<br />Perjanjian</th>
                <th>Nama <br />Debitur</th>
                <th>No<br />Sertifikat </th>
                <th>Nama<br />PPAT</th>
                <th>Hak Tanggungan </th>
                <th>Pinjaman  Konsumen </th>
                <th>No APHT </th>
                <th>Kode AKta</th>
                <th>
                    @if ((ViewBag.NoPengajuanRequest ?? "") == "")
                    {
                        <input type="checkbox" onclick="vmFinance.Checklist(this.checked, 'AktaSelectdwn')" />
                    }
                </th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (System.Data.DataRow item in Model.DTDetailForGrid.Rows)
                {
                    <tr class="DrillDownRow">
                        <td>
                            @Html.Raw(item["No"])
                        </td>
                        <td>
                            @Html.Raw(item["No Perjanjian"])
                        </td>
                        <td>
                            @Html.Raw(item["Tgl Perjanjian"])
                        </td>
                        <td>
                            @Html.Raw(item["Nama Debitur"])
                        </td>
                        <td>
                            @Html.Raw(item["NoSertifikat"])
                        </td>
                        <td>
                            @Html.Raw(item["NamaPPAT"])
                        </td>
                        <td align="right">
                            @Html.Raw(double.Parse(item["Nilai HT"].ToString()).ToString("N0"))
                        </td>
                        <td align="right">
                            @Html.Raw(double.Parse(item["Pinjaman_Konsumen"].ToString()).ToString("N0"))
                        </td>
                        <td>
                            @Html.Raw(item["No HT"])
                        </td>
                        <td>
                            @Html.Raw(item["Kode Akta"])
                        </td>
                        <td align="center">
                            @if (item["NoInv"].ToString() == "")
                            {
                                <input type="checkbox" name="AktaSelectdwn" value="@Html.Raw(item["keylookupdata"])" />
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

}
else if (ViewBag.JenisTransaksi == "SKMHT/APHT")
{
    JenisCek = "SKMHT/APHT (No." + ViewBag.NoPengajuanRequest + ")";
    <table class="table table-striped table-hover table-bordered" id="table_List_billing_payment_upload">
        <thead>
            <tr>
                <th>No.</th>
                <th>No<br />Aplikasi</th>
                <th>No<br />Perjanjian</th>
                <th>Tgl<br />Perjanjian</th>
                <th>Nama <br />Debitur</th>
                <th>No<br />Sertifikat </th>
                <th>Hak Tanggungan </th>
                <th>Pinjaman  Konsumen </th>
                <th>No APHT </th>
                <th>Kode AKta</th>
                <th>Status <br /> Pengajuan</th>
                <th>
                    @if ((ViewBag.NoPengajuanRequest ?? "") == "")
                    {
                        <input type="checkbox" onclick="vmFinance.Checklist(this.checked, 'AktaSelectdwn')" />
                    }
                </th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (System.Data.DataRow item in Model.DTDetailForGrid.Rows)
                {
                    <tr class="DrillDownRow">
                        <td>
                            @Html.Raw(item["No"])
                        </td>
                        <td>
                            @Html.Raw(item["No Aplikasi"])
                        </td>
                        <td>
                            @Html.Raw(item["No Perjanjian"])
                        </td>
                        <td>
                            @Html.Raw(item["Tgl Perjanjian"])
                        </td>
                        <td>
                            @Html.Raw(item["Nama Debitur"])
                        </td>
                        <td>
                            @Html.Raw(item["NoSertifikat"])
                        </td>
                        <td align="right">
                            @Html.Raw(double.Parse(item["Nilai HT"].ToString()).ToString("N0"))
                        </td>
                        <td align="right">
                            @Html.Raw(double.Parse(item["Pinjaman_Konsumen"].ToString()).ToString("N0"))
                        </td>
                        <td>
                            @Html.Raw(item["No HT"])
                        </td>
                        <td>
                            @Html.Raw(item["Kode Akta"])
                        </td>
                        <td>
                            @Html.Raw(item["StatusKontrack"])
                        </td>
                        <td align="center">
                            @if (item["NoInv"].ToString() == "")
                            {
                                <input type="checkbox" name="AktaSelectdwn" value="@Html.Raw(item["keylookupdata"])" />
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


}
<script src="~/Scripts/vmFinance.js"></script>
<script>

     $.getScript("/Content/assets/pages/scripts/table-datatable-custom.js")
        .done(function (script, textStatus) {

            var currentP =@Model.DetailFilter.pagenumberclient.ToString();
            var totalRDBAll =@Model.DetailFilter.TotalRecord.ToString();
            var totalR =@Model.DetailFilter.totalRecordclient.ToString();
            var totalP =@Model.DetailFilter.totalPageclient.ToString();
            var nextP =@Model.DetailFilter.pagenumberclient+1;
            var prevP =@Model.DetailFilter.pagenumberclient-1;

            var tbj = '@Model.Permission.AllowAdd';
            var tbsub = '@Model.Permission.AllowSubmit';
            var tbjd = '@Model.Permission.AllowDownload'
            var tbjg = '@Model.Permission.AllowGenerate'

            var parurl = 'Finance/clnBillPaymentRgridBNI';
            var divgrid = 'gridbillingpaymentlist';
            var tabled = 'table_List_billing_payment_upload';

            $("#" + tabled).DataTable().destroy();

              TableDatatablesEditable1.initPaging(tabled, currentP, totalR, totalP, nextP, prevP, parurl, divgrid, 0);
            $("#table_List_billing_payment_upload_filter > label > input").before("<div style='padding-left:5px'>@Html.Raw(ViewBag.Total)</div>");
            $("#table_List_billing_payment_upload_filter > label > input").after(
                (tbj == "true" || tbj == "True" || tbj == "1" ?
                "<button type='button' class='btn green btngrid addinv' title='Rekap Data'  data-value='');'><i class='fa fa-file-text-o'></i></button > "
                    : "") +
                (tbsub == "true" || tbsub == "True" || tbsub == "1" ?
                        "<button type='button' class='btn green btngrid addinvgen' title='Buat/Tampilkan Invoice' data-value='AktaSelectdwn,@HashNetFramework.HasKeyProtect.Encryption("createinvoice")'><i class='fa fa-gear'></i></button >"
                    : "") +
                (tbsub == "true" || tbsub == "True" || tbsub == "1" ?
                        "&nbsp;<button type='button' class='btn green btngrid addinvgenpaid' title='Pembayaran Invoice PPAT' data-value='AktaSelectdwn,@HashNetFramework.HasKeyProtect.Encryption("createinvoicepaid")'><i class='fa fa-check'></i></button >"
                        : "")
            );
            $("#table_List_billing_payment_upload_filter > label > div").css("color", "#95A5A6 !important")

            $(".jenser").html('@JenisCek');
            vmFinance.initbutton();
        });

</script>
