@model  HashNetFramework.cMasterDataDivisi
<div class="modal fade" id="datadialogaddupdatemaster" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm("clnUpdMasterMTDDVISIGRP", new { Controller = "MasterData" }, new AjaxOptions
            {
                HttpMethod = "POST"
            }, new { id = "clnMaster_form", @class = "form-horizontal" }))
            {
            @Html.AntiForgeryToken();
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@ViewBag.OprMenu (@ViewBag.menu)</h4>
            </div>
            <div class="modal-body">
                <div class="form-body">
                    @Html.HiddenFor(x => x.keylookup)
                    @Html.HiddenFor(x => x.hdPicSelect)
                    <div class="form-horizontal">
                        <div class="form-body" style="padding:20px">
                            @if (ViewBag.oprvalue == "view")
                                {
                            <div class="form-group">
                                <div class="col-md-12">
                                    Nama Group
                                    @Html.TextBoxFor(m => m.GROUP_NAME, new { @class = "form-control NonEdittable", @maxlength = "50", @readonly = "" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9">
                                    Daftar PIC
                                    @Html.DropDownListFor(m => m.PIC, (MultiSelectList)ViewData["SelectPic"], new { @class = "form-control multi-select NonEdittable", multiple = "multiple", @readonly = "", @style = "height:200px;position: absolute; left: -9999px;" })
                                </div>
                            </div>
                                }
                                else
                                {

                            <div class="form-group">
                                <div class="col-md-12">
                                    Nama Group
                                    @Html.TextBoxFor(m => m.GROUP_NAME, new { @class = "form-control", @maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.GROUP_NAME, "", new { @class = "error-block" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5">Pilih PIC</div><div class="col-md-3">Daftar PIC</div>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.PIC, (MultiSelectList)ViewData["SelectPic"], new { @class = "form-control multi-select", multiple = "multiple", @style = "height:200px;position: absolute; left: -9999px;" })
                                </div>
                            </div>
                                }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                    <span>&nbsp;Tutup</span>
                </button>
                @if (ViewBag.oprvalue != "view")
                    {
                <button type="button" class="btn green" onclick="vmMasterData.ApplySbmt('#clnMaster_form')">
                    <i class="fa fa-check-square"></i>
                    <span>&nbsp;Simpan </span>
                </button>
                    }
            </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $('.select2').select2({
        dropdownParent: $('#datadialogaddupdatemaster')
    });
    var valmul = '@Model.PicSelect'.split(',');
    $('#PIC').val(valmul).change();
    $("#PIC").multiSelect();
    $('#PIC').bind("change", function (e) {
        $("#hdPicSelect").val($(this).val());
    });
    $.fn.datepicker.defaults.format = "dd-MM-yyyy";
    $('.date-picker').datepicker({
        rtl: App.isRTL(),
        orientation: "bottom",
        autoclose: true
    });
    $("#datadialogaddupdatemaster").draggable();
    var opp = '@ViewBag.oprvalue';
    if (opp == "view")
    {
        $(".ms-selectable").remove();
        $("#PIC").remove();
        $(".ms-container").css('background-image', 'none');
        $(".ms-list").css('background-color', '#eef1f5');
        $(".ms-container .ms-selection").css('float', 'left');
        $("#clnMaster_form").removeAttr("action");
    }
</script>