@model HashNetFramework.cHTL
<style>
    td:not(:first-child) {
        white-space: nowrap;
    }


    td:last-child {
        width: 2%;
    }

    .btn {
        padding: 6px 7px;
        margin-bottom: 0;
        /*border-radius: 0;*/
        /*border: 0;*/
    }

    .btngridx {
        padding: 1px 5px;
        margin-bottom: 0;
    }

    .btngrid {
        padding: 6.7px 7px;
        margin-bottom: 0;
        border-radius: 0;
        border: 0;
    }
</style>


<table class="table table-striped table-hover table-bordered" id="table_txsrt">
    <thead>
        <tr>
            <th width="7%">No</th>
            <th>No <br /> Sertifikat</th>
            <th data-priority="1">NIK</th>
            <th data-priority="1">Nama</th>
            <th>J.Kelamin</th>
            <th>Tempat <br />Lahir</th>
            <th>Tanggal <br />Lahir</th>
            <th>Kewarganegaraan</th>
            <th>Pekerjaan</th>
            <th>Status <br />Pernikahan</th>
            <th>Alamat</th>
            <th>RT/RW</th>
            <th>Desa/Kelurahan</th>
            <th>Kecamatan</th>
            <th>Kota/Kabupaten</th>
            <th>Provinsi</th>
            <th data-priority="1"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DataSRT != null)
        {
            var i = 0;
            foreach (System.Data.DataRow item in Model.DataSRT.Rows)
            {
                i = i + 1;
                <tr class="DrillDownRow">
                    <td>@i.ToString()</td>
                    <td>@item["NoSertifikat"].ToString()</td>
                    <td>@item["NIK"].ToString()</td>
                    <td>@item["Nama"].ToString().ToUpper()</td>
                    <td>@item["JKelamin"].ToString().ToUpper()</td>
                    <td>@item["Tptlahir"].ToString().ToUpper()</td>
                    <td>@item["Tgllahirlkp"].ToString().ToUpper()</td>
                    <td>@item["Warga"].ToString().ToUpper()</td>
                    <td>@item["Pekerjaan"].ToString().ToUpper()</td>
                    <td>@item["StatusNikah"].ToString().ToUpper()</td>
                    <td>@item["Alamat"].ToString().ToUpper()</td>
                    <td>@item["RTRW"].ToString().ToUpper()</td>
                    <td>@item["DesaKelurahan"].ToString().ToUpper()</td>
                    <td>@item["Kecamatan"].ToString().ToUpper()</td>
                    <td>@item["Kota"].ToString().ToUpper()</td>
                    <td>@item["Provinsi"].ToString().ToUpper()</td>
                    <td>
                        <a class="btn green btngrid open4viewtipt" data-value="HTLIST,@item["keylookupdata"],@HashNetFramework.HasKeyProtect.Encryption(Model.NoAppl).ToString()),x4vw,gdsrt,table_txsrt">
                            <i class="fa fa-eye"></i>&nbsp;Lihat
                        </a>
                        @if (item["AllowEdit"].ToString() == "allow" && ViewBag.oprvalue != "view")
                        {
                            <span>&nbsp;</span>
                            <a class="btn green btngrid open4editipt" data-value="HTLIST,@item["keylookupdata"],@HashNetFramework.HasKeyProtect.Encryption(Model.NoAppl).ToString()),x4vwe,gdsrt,table_txsrt">
                                <i class="fa fa-pencil-square"></i>&nbsp;Ubah
                            </a>
                        }
                        else
                        {
                            <span>&nbsp;</span>
                            <a href="javascript:;" class="btn green btngrid" style="background-color:#eee;cursor:none">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<script src="~/Scripts/vmHTL.js"></script>
<script>
    $.getScript("/Content/assets/pages/scripts/table-datatable-custom.js")
        .done(function (script, textStatus) {
            var currentP = 1;
            var totalRDBAll = '@Model.DataSRT.Rows.Count.ToString()';
            var totalR = '@Model.DataSRT.Rows.Count.ToString()';
            var totalP = 1;
            var nextP = 1;
            var prevP = 1;
            var tbj = true
            var tbjd = true
            var tbjg = true
            var parurl = 'HTL/clnRgridHeaderTx';
            var divgrid = 'gdsrt';
            var tabled = 'table_txsrt';


            $("#" + tabled).DataTable().destroy();
            $("#" + tabled).DataTable({
                responsive: true
            });
            $("#table_txsrt_filter > label > input").before("<div style='padding-left:5px'>@Html.Raw(ViewBag.Total)</div>");
            $("#table_txsrt_filter > label > input").after(
                '@ViewBag.oprvalue' != "view" ?
                "<button type='button' class='btn green btngrid LoadMenuIpt' title='Refresh' data-value='\"@Html.Raw(HashNetFramework.HasKeyProtect.Encryption(Model.NoAppl))\",\"@Html.Raw(HashNetFramework.HasKeyProtect.Encryption(ViewBag.Jndata2))\",\"gdsrt\",\"table_txsrt\"'><i class='fa fa-refresh'></i></button > " +
                "<button type='button' class='btn green btngrid openaddipt' title='Tambah Data' id='tbh' data-value='\"HTLLIST\",\"\",\"@Html.Raw(HashNetFramework.HasKeyProtect.Encryption(Model.NoAppl))\",\"x0s\",\"gdsrt\",\"table_txsrt\"'><i class='fa fa-plus'></i></button > " : "" 
            );
            $("#table_txsrt_filter > label > div").css("color", "#95A5A6 !important")
            vmHTL.initbuton();
        });

</script>


