<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

@{
    var module = Session["Account"] as DusColl.vmAccount;
}

<head>
    <meta charset="utf-8" />
    <title>SIMASHT</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="~/Content/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />

    <link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />


    <link href="~/Content/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <!-- END THEME GLOBAL STYLES -->
    <link href="~/Content/assets/global/plugins/jquery-notific8/jquery.notific8.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>
    <link href="~/Content/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/Content/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Content/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->

    <link href="~/Content/assets/pages/css/login-3.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
    <style>
        .contentwiz {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }

        .form-wizard {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 400px;
            padding: 20px;
        }

        .progress-bar {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .progress-step {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
        }

            .progress-step.active {
                background-color: #4CAF50;
            }

        .form-step {
            display: none;
        }

            .form-step.active {
                display: block;
            }

        .form-group {
            margin-bottom: 15px;
        }

            .form-group label {
                display: block;
                margin-bottom: 5px;
            }

            .form-group input {
                width: 100%;
                padding: 8px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }

        .form-actions {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-next {
            background-color: #4CAF50;
            color: white;
        }

        .btn-prev {
            background-color: #f0f0f0;
            color: #333;
        }

        .btn-submit {
            background-color: #007bff;
            color: white;
        }
    </style>
    <style>
        .cardcard {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            position: relative;
        }

        .card-label {
            text-align: center;
            margin-bottom: 15px;
            font-size: 18px;
            color: #333;
            font-weight: bold;
        }

        .card-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .card-button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .card-button:hover {
                background-color: #45a049;
            }
    </style>
</head>


<!-- END HEAD -->
<body class="page-container-bg-solid">
    <div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
                <!-- BEGIN HEADER -->
                <div class="page-header">
                    <!-- BEGIN HEADER TOP -->
                    <div class="page-header-top">
                        <div class="container">
                            <!-- BEGIN LOGO -->
                            <div class="page-logo">
                                <div>
                                    <a class="homerefresh">
                                        <img src="~/Content/assets/layouts/layout2/img/logo-fdcm-default-login-Blue-white.png" alt="logo" class="logo-default home" style="width:160px; padding-top: 0px;" />
                                    </a>
                                </div>
                            </div>
                            <!-- END LOGO -->
                            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                            <a  class="menu-toggler"></a>
                            <!-- END RESPONSIVE MENU TOGGLER -->
                            <!-- BEGIN TOP NAVIGATION MENU -->
                            <div class="top-menu">
                                <ul class="nav navbar-nav pull-right">

                                    <li class="dropdown dropdown-user dropdown-dark">
                                        <a  class="dropdown-toggle" title="@module.AccountLogin.AreaName @module.AccountLogin.CabangName">
                                            @{
                                                if ((module.AccountLogin.Photo ?? "") == "")
                                                {

                                                    <img alt="" class="img-circle" src="~/Content/assets/layouts/layout2/img/avatar.png">
                                                }
                                                else
                                                {
                                                    //prepare to encrypt
                                                    byte[] imageBytes = Convert.FromBase64String(module.AccountLogin.Photo);
                                                    string KECEP = HashNetFramework.HasKeyProtect.Encryption("dodol");
                                                    imageBytes = HashNetFramework.HasKeyProtect.SetFileByteDecrypt(imageBytes, KECEP);
                                                    string im = "data:image/png;base64," + Convert.ToBase64String(imageBytes, 0, imageBytes.Length);
                                                    <img alt="" class="img-circle" src="@im" id="pop" />
                                                }
                                            }
                                            <span class="username username-hide-mobile">@ViewBag.Username</span>
                                        </a>
                                    </li>
                                    <!-- END USER LOGIN DROPDOWN -->
                                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                                    <li class="dropdown dropdown-extended quick-sidebar-toggler">
                                        <span class="sr-only">Toggle Quick Sidebar</span>
                                        <i class="icon-logout"></i>
                                    </li>
                                    <!-- END QUICK SIDEBAR TOGGLER -->
                                </ul>
                            </div>
                            <!-- END TOP NAVIGATION MENU -->
                        </div>
                    </div>
                    <!-- END HEADER TOP -->
                    <!-- BEGIN HEADER MENU -->
                    <div class="page-header-menu">
                        <div class="container">
                            <!-- END HEADER SEARCH BOX -->
                            <!-- BEGIN MEGA MENU -->
                            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->

                            <div class="hor-menu  ">
                                <ul class="nav navbar-nav">
                                    @{

                                        var prosub = "";
                                        <!--Tempat meletakan group metrik tergantung jenis user  hasilnya di dapat dari module.AccountMetrikList -->
                                        var parentmodul = module.AccountMetrikList.Where(x => x.MenuItem.Action.ToString() != "" && x.AllowShowInMenu == true).Select(x => x.MenuItem.ParentModuleName).Distinct().ToList();
                                        foreach (var cmatrik in parentmodul)
                                        {
                                            var parentmodulmap = module.AccountMetrikList.Where(x => x.MenuItem.ParentModuleName == cmatrik.ToString() && x.AllowShowInMenu == true).ToList();
                                            if ((parentmodulmap.Count >= 1))

                                            {

                                                var parentmodulicon = module.AccountMetrikList.Where(x => x.MenuItem.ParentModuleName == cmatrik.ToString() && x.AllowShowInMenu == true).Select(x => x.MenuItem.ParentIcon).Distinct().SingleOrDefault();
                                                if (@cmatrik.ToString() != "Home")
                                                {
                                                    <li class="menu-dropdown classic-menu-dropdown ">
                                                        <a class="nav-link nav-toggle">
                                                            <i class="@parentmodulicon.ToString()"></i>
                                                            <span class="title">@cmatrik.ToString()</span>
                                                            <span class="arrow"></span>
                                                        </a>

                                                        <ul class="dropdown-menu pull-left">
                                                            @foreach (var cmatrikmap in parentmodulmap)
                                                            {
                                                                var submodulicon = module.AccountMetrikList.Where(x => x.MenuItem.ParentModuleName == cmatrik.ToString() && x.AllowShowInMenu == true && x.MenuItem.SubModuleName == cmatrikmap.MenuItem.SubModuleName && x.MenuItem.SubModuleName != "").ToList();
                                                                var TotSubmenu = submodulicon.Count();
                                                                var submenu = "";
                                                                if (TotSubmenu > 0)
                                                                {
                                                                    submenu = "dropdown-submenu ";
                                                                }

                                                                <li class=@submenu>
                                                                    @{
                                                                        if (TotSubmenu > 0)
                                                                        {
                                                                            if (!prosub.Contains(cmatrikmap.MenuItem.SubModuleName + cmatrikmap.MenuItem.ParentModuleID))
                                                                            {
                                                                                prosub = cmatrikmap.MenuItem.SubModuleName + cmatrikmap.MenuItem.ParentModuleID + "|";
                                                                                <a class="nav-link nav-toggle ">
                                                                                    <i class="icon-upload"></i>
                                                                                    <span class="title">@cmatrikmap.MenuItem.SubModuleName</span>
                                                                                </a>
                                                                                <ul class="dropdown-menu" id="suber">
                                                                                    @foreach (var cmatrikmapp in submodulicon)
                                                                                    {
                                                                                        <li class="">
                                                                                            <a data-value="@cmatrikmapp.MenuItem.Action.ToString()" class="nav-link actdrop">
                                                                                                <i class="icon-upload"></i>
                                                                                                <span class="title">@cmatrikmapp.MenuItem.ModuleName</span>
                                                                                            </a>
                                                                                        </li>
                                                                                    }
                                                                                </ul>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <a data-value="@cmatrikmap.MenuItem.Action.ToString()" class="actdrop">
                                                                                <i class="icon-upload"></i>
                                                                                <span class="title">@cmatrikmap.MenuItem.ModuleName</span>
                                                                            </a>

                                                                        }
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="nav-item homerefresh">
                                                        <a class="nav-link">
                                                            <i class="@parentmodulicon.ToString()"></i>
                                                            <span class="title">@cmatrik.ToString()</span>
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {

                                                var cmatrikmap = parentmodulmap;

                                                var parentmodulicon = module.AccountMetrikList.Where(x => x.MenuItem.ParentModuleName == cmatrik.ToString()).Select(x => x.MenuItem.ParentIcon).Distinct().SingleOrDefault();


                                                <li class="nav-item  ">
                                                    <a class="nav-link nav-toggle actdrop" data-value="@cmatrikmap[0].MenuItem.Action">
                                                        <i class="@parentmodulicon.ToString()"></i>
                                                        <span class="title">@cmatrikmap[0].MenuItem.ModuleName</span>
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>


                                            }
                                        }

                                    }
                                </ul>
                            </div>

                            <!-- END MEGA MENU -->
                        </div>
                    </div>
                    <!-- END HEADER MENU -->
                </div>
                <!-- END HEADER -->
            </div>
        </div>
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <!-- BEGIN CONTAINER -->
                <div class="page-container">
                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        <div class="page-content" id="pagecontent">
                            @RenderBody()
                        </div>
                    </div>
                    <!-- END CONTENT -->
                    <!-- BEGIN QUICK SIDEBAR -->
                    <a  class="page-quick-sidebar-toggler">
                        <i class="icon-login"></i>
                    </a>
                    <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
                        <div class="page-quick-sidebar">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a  data-target="#quick_sidebar_tab_2" data-toggle="tab">
                                        @ViewBag.Username
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane active page-quick-sidebar-alerts" id="quick_sidebar_tab_2">
                                    <div class="page-quick-sidebar-alerts-list">
                                        <h3 class="list-heading">Pengguna</h3>
                                        <ul class="feeds list-items">
                                            <li>
                                                <a class="nav-link profus">
                                                    <i class="icon-user"></i>&nbsp;Profile
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("AccountChucpas", "Account" )">
                                                    <i class="fa fa-key"></i>&nbsp;Ganti Kata Sandi
                                                </a>
                                            </li>
                                            @if (module.AccountGroupUserList.Count > 1)
                                            {
                                                <li>
                                                    <a href="@Url.Action("AccountChucgrp", "Account" )">
                                                        <i class="fa fa-group"></i>&nbsp;Group Akses
                                                    </a>

                                                </li>
                                            }
                                            <li>
                                                <a href="@Url.Action("LogOut", "Account" )">
                                                    <i class="icon-arrow-right"></i>&nbsp;Keluar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- END QUICK SIDEBAR -->
                </div>
                <!-- END CONTAINER -->
            </div>
        </div>

    </div>

    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            <div class="copyright"> 2022 © PT Sedayu Dana Banda </div>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>


    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-migrate.min.js"></script>
    <script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="~/Content/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>
    <script src="~/Content/assets/pages/scripts/ui-toastr.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    <script src="~/Content/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>

    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Content/assets/global/scripts/app.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <script src="~/Content/assets/apps/calendar.js"></script>
    <script src="~/Content/assets/pages/scripts/components-bootstrap-select.min.js"></script>

    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Content/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
    <script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>

    <script src="~/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

    <script src="~/Content/assets/global/plugins/jquery-notific8/jquery.notific8.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/pages/scripts/ui-notific8.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Content/assets/pages/scripts/table-datatables-responsive.js"></script>

    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/Content/assets/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/Scripts/vmHomepages.js"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

</body>

</html>

