@model DusColl.vmAccount
<style>
    td:not(:first-child) {
        white-space: nowrap;
    }

    td:first-child {
        width: 2%;
    }

    td:last-child {
        width: 2%;
    }

    .btn {
        padding: 6px 7px;
        margin-bottom: 0;
        /*border-radius: 0;*/
        /*border: 0;*/
    }

    .btngrid {
        padding: 6px 7px;
        margin-bottom: 0;
        border-radius: 0;
        border: 0;
    }
</style>

<table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="
       ">
    <thead>
        <tr>
            <th>No#</th>
            <th>No<br />Registrasi</th>
            <th>Tgl<br />Registrasi</th>
            <th class="all">Email</th>
            <th>Log Time</th>
            <th>Status </th>
            <th class="all"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DTHeaderTx != null)
        {
            var i = 0;
            foreach (System.Data.DataRow item in Model.DTHeaderTx.Rows)
            {
                i = i + 1;
        <tr class="DrillDownRow">
            <td align="center">@i</td>
            <td>
                @Html.Raw(item["RegAccountNo"])
            </td>
            <td>
                @Html.Raw(DateTime.Parse(item["RegAccountDate"].ToString()).ToString("dd/MMM/yyyy HH:mm:ss"))
            </td>
            <td>
                @Html.Raw(item["Email"])
            </td>
            <td>
                @Html.Raw(item["DateIn"])
            </td>
            <td>
                @Html.Raw(item["StatusAktif"])
            </td>
            <td>
                <a class="btn actreg" id='@item["keylookupdata"]' data-value="@Model.FilterTransaksi.ModuleID,@item["keylookupdata"],''"
                   title="Proses" style="display:inline;">
                    <i class='icon-power'>&nbsp;Tindakan</i>
                </a>
            </td>
        </tr>

            }
        }
    </tbody>
</table>

<script src="~/Scripts/vmAccount.js"></script>
<script>

    $.getScript("/Content/assets/pages/scripts/table-datatable-custom.js")
        .done(function (script, textStatus) {

            var currentP =@Model.FilterTransaksi.pagenumberclient.ToString();
            var totalRDBAll =@Model.FilterTransaksi.TotalRecord.ToString();
            var totalR =@Model.FilterTransaksi.totalRecordclient.ToString();
            var totalP =@Model.FilterTransaksi.totalPageclient.ToString();
            var nextP =@Model.FilterTransaksi.pagenumberclient+1;
            var prevP =@Model.FilterTransaksi.pagenumberclient-1;

            var parurl ='Account/clnRgridHeaderTx';
            var divgrid = 'gridTx';
            var tabled = 'table_tx';

            $("#" + tabled).DataTable().destroy();

            TableDatatablesEditable1.initPaging(tabled, currentP, totalR, totalP, nextP, prevP, parurl, divgrid, 0);
            $("#table_tx_filter > label > input").before("<div style='padding-left:5px'>@Html.Raw(ViewBag.Total)</div>");
            $("#table_tx_filter > label > input").after(
                "<button type='button' class='btn green btngrid OpenFilter' title='Pencarian' data-value='@Model.FilterTransaksi.ModuleName.ToString()'> <i class='fa fa-filter'></i></button > "+
                   "<button type='button' class='btn green btngrid LoadMenu' title='Refresh' data-value='Transaksi Data,@Model.FilterTransaksi.ModuleName.ToString(),Account,clnHeaderTx'><i class='fa fa-refresh'></i></button > "
            );

            vmAccount.initbutton();

        });
</script>